# Ignored files in the root of the repository
*.html linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false
*.cjs linguist-detectable=false
*.mjs linguist-detectable=false

# Allowed files in the root of the repository 
**/Dockerfile linguist.language=Dockerfile
**/Makefile linguist.language=Makefile
*.ts linguist.language=TypeScript
*.py linguist.language=Python
